@import url('opensans.css?family=Open+Sans:300,400,400i,600,700,800');
@mixin transition($transition){
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}
@mixin transform($transform){
    -moz-transform: $transform;
    -ms-transform: $transform;
    -webkit-transform: $transform;
    transform: $transform;
}
@mixin backgroundGradiente(){
    /* Referência de gradiente: http://colorzilla.com/gradient-editor/#482cbf+0,6ac6f0+100 */
    background: rgb(72, 44, 191);
    background: -webkit-linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    background: linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#482cbf', endColorstr='#6ac6f0', GradientType=1);    
}
%alturaPadrao {
    height: 100%
}
* {
    outline: none;
}
a {
    text-decoration: none;
    outline: none;
    @include transition(0.4s);    
    color: #333333;
}
.logo{
    color: #fff;
}
input:focus,
button:focus,
a:focus,
a:hover {
    text-decoration: none;
    outline: none;
    color: #768ede;
}
img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 400;
    line-height: 1.4em;
}
h1 {
    font-size: 60px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 32px;
}

html {
    @extend %alturaPadrao;
}
body {
    @extend %alturaPadrao;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #8790af;
}

/* Remove a cor de fundo amarelo indesejada do campo no Chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

/* Estilo do Button */
.bttn-white {
    position: relative;
    @include backgroundGradiente();
    overflow: hidden;
    z-index: 1;
    margin-right: 10px;
    border: none;
    img {
        height: 20px;
        margin-right: 5px;
        margin-top: -5px;
        display: inline-block;
    }
    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        z-index: -1;
        @include transition(0.3s);
        opacity: 1;
    }
    .active,
    &:hover {
        color: #ffffff;
    }
    .active:before,
    &:hover:before {
        opacity: 0;
    }
}

.bttn-default,
.bttn-white {
    padding: 12px 30px;
    background-color: #ffffff;
    display: inline-block;
    color: #768ede;
    text-transform: uppercase;
    border-radius: 50px;
    letter-spacing: 1.5px;
    font-weight: 700;
    font-size: 14px;
    @include transition(0.3s);
    border: none;
    .lnr {
        margin-right: 10px;
    }
}

.bttn-default {
    padding: 12px 40px;
    @include backgroundGradiente();
    color: #ffffff;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
    @include transform(translateY(0));
    &:hover {
        color: #ffffff;
        -webkit-box-shadow: 0 25px 50px -20px rgba(0, 0, 0, 0.6);
        box-shadow: 0 25px 50px -20px rgba(0, 0, 0, 0.6);
        @include transform(translateY(-5px));
    }
}
.sq {
    border-radius: 3px !important;
}

.section-padding-top {
    padding-top: 120px;
}

.section-padding {
    padding-top: 120px;
    padding-bottom: 120px;
}

.upper {
    text-transform: uppercase;
}

.overlay {
    position: relative;
    z-index: 1;
    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        @include backgroundGradiente();
        opacity: 0.8;
        z-index: -2;
    }
}

.dark-color {
    color: #434345
}

.blue-color {
    color: #5e88fc;
}

.white-color {
    color: #ffffff !important;
}

.gray-bg {
    background-color: #f5f6ff;
}

/* MainMenu-Area */

.mainmenu-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    padding: 20px 140px 15px 0;
    background: transparent;
    @include transition(0.3s);
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        @include backgroundGradiente();
        z-index: -1;
        opacity: 0;
        @include transition(0.3s);
    }
    &.affix {
        position: fixed;
        top: 0;
        &:before {
            opacity: 1;
        }
    }
    &.right-button {
        position: absolute;
        right: 15px;
        top: 12px;
        a {
            color: #ffffff;
            padding: 10px 40px;
            border-radius: 50px;
            background-color: rgba(255, 255, 255, 0.3);
            display: inline-block;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            font-weight: 700;
            font-size: 14px;
            &:hover {
                background-color: rgba(255, 255, 255, 1);
                color: #768ede;
            }
        }
    }
    ul{
        &.mainmenu {
            text-align: center;
            float: none;
            display: block;
            li {
                float: none;
                display: inline-block;
                text-align: center;
            }
        }
        &.nav{
            &.navbar-nav{
                li{
                    a {
                        color: #ffffff;
                        padding: 10px 2px;
                        text-transform: capitalize;
                        background: transparent;
                        font-weight: 600;
                        border-bottom: 2px solid transparent;
                        margin: 0 15px;
                    }
                    a:hover,
                    &.active a {
                        border-bottom-color: #ffffff;
                    }
                }
            }
        }
    }
    &.navbar-brand {
        height: auto;
        padding: 0 15px;
        img {
            height: 40px;
        }
    }
}

/* Page-Title */
.page-title{
    .title {
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        color: #8790af;
        font-weight: 600;
    }
}
.text-center.page-title .title:before,
.page-title .title:after {
    content: '';
    width: 50px;
    height: 1px;
    display: inline-block;
    background-color: #e1e1e1;
    margin: 0 15px;
    @include transform(translateY(-4px));
}

/* Home-Area */
.home-area {
    width: 100%;
    background: url('../images/header-bg.jpg') no-repeat scroll center bottom / cover;
    padding-top: 26vh;
    color: #ffffff;
    &.mobile-image {
        margin-right: 0;
        margin-left: 0;
    }
}
/* Progress-Area */
.progress-area {
    background-image: url('../images/progress-bg.jpg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
    margin-top: 90px;
    margin-bottom: 220px;
    &.mobile-image {
        margin-top: -90px;
        margin-bottom: -153px;
    }
}
/* Video-Area */
.video-area {
    background-image: url('../images/video-bg.jpg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 100%;
    margin-bottom: 120px;
    a.video-button {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translateY(-50%, -50%));
        border-radius: 50%;
    }
}

.video-photo {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.video-photo > img {
    width: 100%;
}

/* Feature-Area */

.feature-area {
    color: #ffffff;
    background-color: #5e88fc;
    background-image: url('../images/feature-bg.png');
    background-position: bottom -120px center;
    background-repeat: no-repeat;
    background-size: auto 94%;
    .page-title{
        .title {
            color: #ffffff;
        }
    }
    .mobile-image {
        margin-bottom: -142px;
    }
}
/* Service-Box */
.navbar-header{
    .box-icon{
        margin-top: -17px;
    }
    img{
        margin-top: -5px;
    }
    
}
.service-box,.navbar-header {
    position: relative;
    padding-left: 100px;
    h4 {
        margin-bottom: 10px;
    }
    .box-icon {
        position: absolute;
        left: 0;
        top: 0;
        width: 70px;
        height: 70px;
        border-radius: 100%;
        text-align: center;
        font-size: 20px;
        line-height: 72px;
        @include backgroundGradiente();
        overflow: hidden;
        z-index: 1;
        color: #5e88fc;
        @include transition(0.3s);
        -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #ffffff;
            z-index: -1;
            @include transition(0.3s);
            opacity: 1;
        }
    }
    &:hover .box-icon {
        color: #ffffff;
        &:before {
            opacity: 0;
        }
    }
}
/* Price-Area */

.price-box {
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    color: #8790af;
    -webkit-box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.1);
    @include transition(0.3s);
    &:hover {
        -webkit-box-shadow: 0 0 50px -15px #4d43c6;
        box-shadow: 0 0 50px -15px #4d43c6;
        .price-header {
            color: #ffffff;
            &:before {
                opacity: 0;
            }
        }
    }
    .price-header {
        background-color: #f2f3fc;
        padding: 40px;
        color: #768ede;
        @include backgroundGradiente();
        position: relative;
        overflow: hidden;
        z-index: 2;
        @include transition(0.3s);
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #f2f3fc;
            z-index: -1;
            opacity: 1;
            @include transition(0.3s);
        }
        .price-icon {
            font-size: 60px;
            margin-bottom: 10px;
        }
        h4 {
            font-weight: 700;
            font-size: 20px;
            letter-spacing: 3px;
        }
    }
    .price-body {
        padding: 40px;
    }
    .price-body ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .price-rate {
        color: #768ede;
        margin-bottom: 40px;
        font-size: 20px;
    }
    .price-rate{
        sup {
            top: -20px;
            font-size: 26px;
        }
        .rate {
            font-size: 56px;
        }
    }
    .price-footer {
        margin-bottom: 40px;
        .bttn-white {
            padding: 13px 50px;
            &:before {
                width: calc(100% - 4px);
                height: calc(100% - 4px);
                border-radius: 100px;
                left: 2px;
                top: 2px;
            }
        }
    }
}
/* Questions-area */

.questions-area {
    background-color: #f5f6ff;
}

.cadastro-area {
    background-color: #f5f6ff;
    input{
        margin-bottom: 15px;
    }
}

.toggole-boxs {
    margin-top: -20px;
    h3 {
        font-size: 18px;
        background-color: #ffffff;
        margin-bottom: 0;
        margin-top: 20px;
        outline: none;
        padding: 20px 30px 20px 60px;
        color: #434345;
        border-left: 5px solid #5e88fc;
        cursor: pointer;
        position: relative;
        &:before,
        &:after {
            content: '';
            position: absolute;
            left: 30px;
            top: 30px;
            width: 10px;
            height: 2px;
            background-color: #434345;
        }
        &:before {
            @include transform(rotate(90deg));
            @include transition(0.3s);
        }
        &.ui-state-active:before {
            @include transform(rotate(0deg));
        }
    }
    div {
        background-color: #ffffff;
        padding: 0 30px 20px 60px;
        border-left: 5px solid #5e88fc;
    }
}
/* Subscribe-Form */

.subscribe-area {
    background: url('../images/subscribe-bg.jpg') no-repeat scroll center center / cover;
}

.subscribe-form {
    background-color: #ffffff;
    padding: 60px;
    border-radius: 5px;
    form {
        position: relative;
        .control {
            width: 100%;
            height: auto;
            padding: 15px 180px 15px 30px;
            border-radius: 100px;
            border: 1px solid #5e88fc;
        }
        .bttn-white {
            position: absolute;
            right: 0;
            top: 0;
            margin-right: 0;
        }
    }
}
/*-- 18. Footer-Area --*/

.footer-box {
    text-align: center;
    .box-icon {
        width: 75px;
        height: 75px;
        margin: auto auto 30px auto;
        text-align: center;
        line-height: 75px;
        color: #ffffff;
        font-size: 20px;
        @include backgroundGradiente();
        border-radius: 100%;
        position: relative;
        z-index: 1;
        @include transition(0.3s);
        &:before {
            content: "";
            position: absolute;
            left: 4px;
            top: 4px;
            width: calc(100% - 8px);
            height: calc(100% - 8px);
            border: 2px solid #ffffff;
            border-radius: 100%;
            z-index: -1;
            @include transition(0.3s);
        }
    }
    &:hover .box-icon {
        color: #5e88fc;
        &:before {
            background-color: #ffffff;
        }
    }
}

.footer-bottom {
    padding: 20px 0;
    background-color: #f5f6ff;
    border-top: 1px solid #5e88fc;
    .footer-menu{
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            text-align: right;        
            li {
                display: inline-block;
                a {
                    padding: 10px;
                    color: #8790af;
                    &:hover {
                        color: #5e88fc;
                    }
                }
            }
        }
    }
}
.float-right {
    float: right;
    color: #8790af;
}
/* ScrollUp-Button */
#scrollUp {
    right: 0;
    bottom: 0;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    color: #5e88fc;
}

.preloader {
    background-color: #ffffff;
    bottom: 0;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999999;
    span {
        @include backgroundGradiente();
        border-radius: 100%;
        height: 60px;
        width: 60px;
        line-height: 60px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;
        color: #ffffff;
        font-size: 24px;
        margin: auto;
        -webkit-animation: mymove 1.5s infinite linear;
        animation: mymove 1.5s infinite linear;
    }
}

@-webkit-keyframes mymove {
    0 {
        -webkit-box-shadow: 0 0 0 0 rgba(94, 136, 252, 0.6), 0 0 0 0 rgba(94, 136, 252, 0.6);
        box-shadow: 0 0 0 0 rgba(94, 136, 252, 0.6), 0 0 0 0 rgba(94, 136, 252, 0.6);
    }
    25% {
        -webkit-box-shadow: 0 0 0 10px rgba(94, 136, 252, 0.6), 0 0 0 10px rgba(94, 136, 252, 0.6);
        box-shadow: 0 0 0 10px rgba(94, 136, 252, 0.6), 0 0 0 10px rgba(94, 136, 252, 0.6);
    }
    50% {
        -webkit-box-shadow: 0 0 0 10px rgba(94, 136, 252, 0.6), 0 0 0 20px rgba(94, 136, 252, 0.6);
        box-shadow: 0 0 0 10px rgba(94, 136, 252, 0.6), 0 0 0 20px rgba(94, 136, 252, 0.6);
    }
    75% {
        -webkit-box-shadow: 0 0 0 10px rgba(94, 136, 252, 0.6), 0 0 0 10px rgba(94, 136, 252, 0.6);
        box-shadow: 0 0 0 10px rgba(94, 136, 252, 0.6), 0 0 0 10px rgba(94, 136, 252, 0.6);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(94, 136, 252, 0.6), 0 0 0 0 rgba(94, 136, 252, 0.6);
        box-shadow: 0 0 0 0 rgba(94, 136, 252, 0.6), 0 0 0 0 rgba(94, 136, 252, 0.6);
    }
}

@keyframes mymove {
    0 {
        -webkit-box-shadow: 0 0 0 0 rgba(94, 136, 252, 0.6), 0 0 0 0 rgba(94, 136, 252, 0.6);
        box-shadow: 0 0 0 0 rgba(94, 136, 252, 0.6), 0 0 0 0 rgba(94, 136, 252, 0.6);
    }
    25% {
        -webkit-box-shadow: 0 0 0 10px rgba(94, 136, 252, 0.6), 0 0 0 10px rgba(94, 136, 252, 0.6);
        box-shadow: 0 0 0 10px rgba(94, 136, 252, 0.6), 0 0 0 10px rgba(94, 136, 252, 0.6);
    }
    50% {
        -webkit-box-shadow: 0 0 0 10px rgba(94, 136, 252, 0.6), 0 0 0 20px rgba(94, 136, 252, 0.6);
        box-shadow: 0 0 0 10px rgba(94, 136, 252, 0.6), 0 0 0 20px rgba(94, 136, 252, 0.6);
    }
    75% {
        -webkit-box-shadow: 0 0 0 10px rgba(94, 136, 252, 0.6), 0 0 0 10px rgba(94, 136, 252, 0.6);
        box-shadow: 0 0 0 10px rgba(94, 136, 252, 0.6), 0 0 0 10px rgba(94, 136, 252, 0.6);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(94, 136, 252, 0.6), 0 0 0 0 rgba(94, 136, 252, 0.6);
        box-shadow: 0 0 0 0 rgba(94, 136, 252, 0.6), 0 0 0 0 rgba(94, 136, 252, 0.6);
    }
}
.button-popup-chat{
    cursor:pointer;
    width:75px;
    height:75px;
    margin:auto auto 30px auto;
    text-align:center;
    line-height:75px;
    color:#ffffff;
    font-size:20px;
    background:#482cbf;
    background:-webkit-linear-gradient(45deg, #482cbf 0%, #6ac6f0 100%);
    background:-o-linear-gradient(45deg, #482cbf 0%, #6ac6f0 100%);
    background:linear-gradient(45deg, #482cbf 0%, #6ac6f0 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#482cbf', endColorstr='#6ac6f0', GradientType=1);
    border-radius:100%;
    position:fixed;
    bottom:-20px;
    right:60px;
    z-index:999;
    -moz-transition:.3s;
    -o-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;    
    .lnr{
        font-size:25px;
        margin:25px 0 0 -12px;
        position:absolute
    }
    &:before{
        content:"";
        position:absolute;
        left:4px;
        top:4px;
        width:calc(100% - 8px);
        height:calc(100% - 8px);
        border:2px solid #ffffff;
        border-radius:100%;
        z-index:-1;
        -moz-transition:.3s;
        -o-transition:.3s;
        -webkit-transition:.3s;
        transition:.3s;
    }
    &:hover{
        color:#5e88fc;
        &:before{
            border:28px solid #ffffff
        }
    }
}
.popup-chat{
    display:none;
    width:352px;
    height:530px;
    position:fixed;
    bottom:0;
    right:60px;
    z-index:999;
    border:1px solid #5e88fc;
    background-color:#fff;
    .close-chat{
        cursor:pointer;
    }
    .header-chat{
        position:absolute;
        border-radius:10px 10px 0 0;
        background:#482cbf;
        background:-webkit-linear-gradient(45deg, #482cbf 0%, #6ac6f0 100%);
        background:-o-linear-gradient(45deg, #482cbf 0%, #6ac6f0 100%);
        background:linear-gradient(45deg, #482cbf 0%, #6ac6f0 100%);
        filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#482cbf', endColorstr='#6ac6f0', GradientType=1);
        width:352px;
        height:91px;
        top:-10px;
        left:-1px;
        color:#fff;
        .box-icon{
            float:left;
            margin:12px 0 0 10px;
            width:65px;
            height:65px;
            border-radius:100%;
            background-color:#fff;        
            img{
                margin:8px 0 0 8px;
            }
        }
        span{
            margin:30px 0 0 15px;
            font-size:30px;
            float:left;
        }
        a{
            color:#fff;
        }
    }
    .close-chat{
        float:right;
        margin:10px 10px 0 0;
    }
}

.m-t-20{
    margin-top:20px;
}