 $margin-left:12%;
 $margin : 15%;
 .content{
    height: 2691px;
    width: 100%;
    margin:0 auto;
    .top-banner{
        width: 100%;
        height: 640px;
        background-repeat: no-repeat;
        background-image: url(../_assets/bg1.png);
        background-size: cover;
        color: black;
    }
    .top-icon{
        position: absolute;
        top: 0;
        width: 192px;
        height: 68px;
        background-image: url(../_assets/rolez2.png);
        background-size: contain;
        margin-left: $margin-left;
    }

    .box-discription{
        position: absolute;
        top: 142px;
        width: 402px;
        height: 68px;
        color: #fff;
        margin-left: $margin-left;
        font-family: arial;
        font-weight: 600;
        font-size: 40px;
    }
    .social-images{
        position: absolute;
        top: 340px;
        width: 244px;
        height: 40px;
        background-image: url(../_assets/logo_social.png);
        background-size: cover;
        margin-left: $margin-left;
    }
    .right{
        float: right !important;
    }
    
    form.col-md-4.right {
            background-color: #fff;
            position: relative;
            top: 159px;
            margin-right: $margin;
            border-radius: 6px;
            padding: 0 30px;
            .col-md-12.mt-10 {
                margin-top: 30px;
                text-align: center;
                font-family: arial;
                color: #868686;
            }
            button.btn.btn-default {
                width: 100%;
                background: #ff5087;
                border: none;
                border-radius: 30px;
                padding: 25px 0;
                line-height: 0px;
            }
            label.active {
                color: #ff5087 !important;
              }
              .input-field label {
                color: #868686;
              }
              /* label focus color */
              .input-field input[type=text]:focus + label {
                color: #868686;
              }
              /* label underline focus color */
              .input-field input[type=text]:focus {
                border-bottom: 1px solid #ff5087;
                box-shadow: 0 1px 0 0 #ff5087;
              }
              /* valid color */
              .input-field input[type=text].valid {
                border-bottom: 1px solid #ff5087;
                box-shadow: 0 1px 0 0 #ff5087;
              }
              /* invalid color */
              .input-field input[type=text].invalid {
                border-bottom: 1px solid #868686;
                box-shadow: 0 1px 0 0 #868686;
              }
              /* icon prefix focus color */
              .input-field .prefix.active {
                color: #868686;
              }
            }

    .center-top{
        width:100%;
        height: 860px;
        .topTitle{
            margin-top: 70px;
            text-align: center;
            color: #ff5087;
            font-size: 35px;
            font-family: arial;
            font-weight: 600;
        }
        .discriptionTitle{
            text-align: center;
            color: #868686;
            width: 700px;
            font-size: 18px;
            font-family: arial;
            margin: auto;
            margin-top: 30px;
        }
        .pd-div{
            padding:0 15%;
            margin-top: 6%;
            .img1{
                width: 100%;
                height: 234px;
                background-image: url(../_assets/1.png);
                background-size: cover;
            }
            .img2{
                width: 100%;
                height: 234px;
                background-image: url(../_assets/2.png);
                background-size: cover;
            }
            .img3{
                width: 100%;
                height: 234px;
                background-image: url(../_assets/3.png);
                background-size: cover;
            }
            .img4{
                width: 100%;
                height: 234px;
                background-image: url(../_assets/4.png);
                background-size: cover;
            }
            .text{
                text-align: center;
                font-family: arial;
                font-size: 16px;
                color: #868686;
            }
        }
    }
    .center-bottom{
        width: 100%;
        height: 392px;
        background-image: url( '../_assets/bg2.png');
        background-repeat: no-repeat;
        background-size:cover;
        .box-bottom{
            width: 50%;
            margin-left: $margin-left;
            /* margin-bottom: -5px; */
            padding: 30px;
            text-align: center;
            color:#fff;
            .discriptionBottom{
                margin-top: 40px;
            }
        }
        button.btn.btn-default.col-md-6 {
            float: left;
            margin-left: 3%;
            color: #868686;
            background: #fff;
            border-radius: 50px;
            margin-top: 30px;
            padding: 25px;
            line-height: 0;
        }
        .image-cell{
            width: 730px;
            height: 737px;
            float: right;
            background-image: url(../_assets/mobile.png);
            right: 0;
            margin-top: -320px;
        }
        
    }
    .bottom{
        width: 100%;
        height:auto;
      .cell-bottom{
        background-image: url(../_assets/mobile2.png);
        width: 434px;
        height: 649px;
        margin-left: $margin-left;
      }

    }

}

